.vs/
.vscode/
bin/
obj/
node_modules/
package-lock.json
blazor/SyncfusionAISamples/bin
blazor/SyncfusionAISamples/obj
blazor/SyncfusionAISamples/.vs/
blazor/SyncfusionAISamples/.vscode/
blazor/SyncfusionAISamples/Properties/*
blazor/SyncfusionAISamples/SyncfusionAISamples.csproj.sln
blazor/SyncfusionAISamples/SyncfusionAISamples.csproj.user