.container {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
}
.row {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}
.custom-row-1 {
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 100%;
}

.custom-row-1, .custom-row-2 {
  display: flex;
  flex-wrap: wrap;
}

.cuscol-0, .cuscol-1, .cuscol-2, .cuscol-01 {
  padding: 0.5rem;
}

.cuscol-2 {
  padding: 20px;
}
.cuscol-1 {
  display: flex;
  flex-direction: column !important;
}

.cuscol-2 {
  display: flex;
  flex-direction: column !important;
}