* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 0px!important;
}

.router-content{
    margin-top: 10px;
}
#contentFrame {
    width: 100%;
    height: 100%;
    border: none;
}
#container {
    display: flex;
    height: calc(100vh - 50px);
    overflow-y: scroll;

}
#sidebar {
    width: 250px;
    border-right: 1px solid #ccc;

        top: 39px;

}
#content {
    flex: 1;
    padding: 20px;
}
.hamburger,.hamburger1 {
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.hamburger rect,.hamburger1 rect {
    fill: #000;
    width: 100%;
    height: 4px;
    rx: 2; /* Rounded corners */
}
.hamburger1 rect{
    fill:  #cbc2c2;
}