<ejs-sidebar id="sidebar" #sidebar class="default-sidebar" width="250px"
        position="Left">
        <div class="title-header">
          <button id="toggle" class="e-control e-btn e-flat" >
              <svg class="hamburger" viewBox="0 0 40 30">
                  <rect y="0"></rect>
                  <rect y="13"></rect>
                  <rect y="26"></rect>
              </svg>
          </button>
          <span style=" padding: 0px 2px" class="e-list-text
          ">Syncfusion AI Samples  </span>          
      </div>
        <ejs-treeview id="defaultTree" [fields]="fields" (nodeSelected)="onNodeSelected($event)"></ejs-treeview>

    </ejs-sidebar>

<div class="router-content" style=""><router-outlet /></div>
