.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    margin: 30px auto;
    border: 2px solid rgb(229 231 235 / var(--border-opacity));
    --border-opacity: 1;
}

.content-wrapper div.row {
    padding: 7px 0px;
}

.example-label {
    width: 90%;
    font-size: 12px;
    font-weight: 500;
}


